:root {
  --very-dark-desaturated-blue: hsl(238, 29%, 16%);
  --transparent-white: hsla(0, 0%, 100%, 0.75);
  --soft-red: hsl(14, 88%, 65%);

  /* Background gradient: */
  --soft-violet: hsl(273, 75%, 66%);
  --soft-blue: hsl(240, 73%, 65%);

  /* Scrollbar*/
  ---scrollbar-track-bg: hsl(253 70% 93%);
  /* Fonts */
  --font-kumbh-sans: 'Kumbh Sans', sans-serif;

  /* Body size*/
  --body-size: 1.2rem;
}

#root {
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

body {
  background: fixed linear-gradient(var(--soft-violet), var(--soft-blue));
  font-family: var(--font-kumbh-sans);
}

.main {
  background: white;
  width: 375px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px 25px;
  margin: 150px 30px 30px 30px;
  border-radius: 15px;
  max-height: 430px;
  position: relative;
  top: -12px;
}

.main__hero-image,
.main__hero-shadow {
  width: 240px;
}

.main__hero-image {
  margin-top: -138px;
}

.main__hero-shadow {
  margin: -75px;
}

.main__title,
.question {
  color: var(--very-dark-desaturated-blue);
}

.main__title {
  font-size: 3.2rem;
  text-align: center;
  margin-top: 80px;
}

.main__questions-container {
  display: flex;
  flex-direction: column;
  gap: 15px;
  overflow-y: scroll;
  margin-top: 26px;
  overflow-x: hidden;
}

.question-answer-wrapper {
  padding-bottom: 10px;
  display: flex;
  flex-direction: column;
  gap: 8px;
  cursor: pointer;
}

.question-container {
  display: flex;
  justify-content: space-between;
  gap: 60px;
  cursor: pointer;
  align-items: baseline;
}

.question {
  font-size: 1.4rem;
  font-weight: 700;
}

.icon-arrow {
  border: none;
  background: none;
  cursor: pointer;
  transition: transform 0.3s ease-in-out;
}

.icon-arrow.active {
  transform: rotate(180deg);
}

.line-separator {
  display: block;
}

.line-separator::after {
  display: block;
  clear: both;
  content: "";
  position: relative;
  left: 0;
  bottom: -12px;
  border-bottom: 1px solid var(---scrollbar-track-bg);
}


.answer {
  font-size: var(--body-size);
  color: slategray;
}

.line-separator::after,
.answer {
  width: 90%;
}

.hidden {
  display: none;
}

/*---------scrollbar-------------*/
.main__questions-container::-webkit-scrollbar {
  width: 10px;
  border-radius: 5px;
  margin: 12px;
}

.main__questions-container::-webkit-scrollbar-track {
  background: var(---scrollbar-track-bg);
  border-radius: 5px;
}

.main__questions-container::-webkit-scrollbar-thumb {
  background: var(--soft-violet);
  border-radius: 5px;
  border: 2px solid var(---scrollbar-track-bg);
}

.main__questions-container::-webkit-scrollbar-thumb:hover {
  background: hsl(273, 75%, 70%);
}

/*---------scrollbar-------------*/